@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.hide{
    display: none;
}
.section{
     padding: 50px 240px;;
}

 /* header part stard */
 .head-section{
    background: rgba(255, 144, 14, 0.10);
    background-size: cover;
    padding: 50px 240px;
 
 }
 .row{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
 }
 .row .company-logo{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
 }
 .row .manu ul{
    display: flex;
    gap: 40px;
 }
 .row .manu ul li{
    list-style-type: none;
    padding: 10px 0;
 }
 .row .manu ul li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 26px;
 }
 .btn{
    padding: 20px 24px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background: #ff900E;
    border: none;
    border-radius: 10px;
 }
.head-section .container .banner-part{
    align-items: center;
    text-align: center;
    padding: 116px 0 50px 0;
}
.head-section .container .banner-part .banner-head{
    font-size: 64px;
    color: #131313;
    font-weight: 700;
}
.head-section .container .banner-part .banner-pragrph{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px;

}
.head-section .container .banner-part .btn{
    padding: 20px 24px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background: #ff900E;
    border: none;
    border-radius: 10px;
}
.head-section .container img{
    width: 100%;
}

 /* header part end */
 /* Quick lisht Of Our Features part stard */
.section .container .feateres{
    display: flex;
    justify-content: space-between;
    padding: 83px  70px;
    align-items: center;
}
.section .container .feateres .features-images{
    
}

.section .container .feateres .features-images img{
    width: auto;
    padding: 24px 0 24px 24px;
}
.section .container .feateres-text{
    color: #727272;
    /* width: 537px; */
    margin: 0 auto;
    
}
.section .container .feateres-text h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}
.section .container .feateres-text h1 .black{
    color: #131313;
}
.section .container .feateres-text h1 .yellow{
    color: #ff900E;
}

.section .container .feateres-text p{
    padding: 0 0 30px 0;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
}

 /* Quick lisht Of Our Features part end  */
  /* Features you will love & enjoy stard  */



  /* Features you will love & enjoy end */

 /* some facts stard  */
.some-fact{
    width: 542px;
    padding: 180px 0 100px 0;
    text-align: justify;
}
.some-fact h1 {
    font-size: 45px;
    font-weight: 708;
    color: #131313;
    line-height: 100px;
}
.some-fact p{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.facts-part{
    text-align: center;
    padding:45px 36px 59px 36px ;
    border-radius: 8px;
    border: 1px solid #ff900E;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.facts-part img{
    width: 80px;
}
.facts-part h1{
    color: #424242;
    font-size: 45px;
    font-weight: 800px;
    line-height: 80px;

}


 /* some facts end */

 /* Our Sponspors part stard */
.spon-head{
    width: 542px;
    margin: 0 auto;
    text-align: center;
    padding: 180px 0 0 100px;
}
.spon-head h1{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.spon-head p{
    width: 542px;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
    padding: 24px 0;
}


 /* Our Sponspors part end  */
 /* footer section stard */
 .footer{

 }
 .footer h1{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding: 33px 0;
    color: #424242;
    background: #fff4e7;
 }
 /* footer section end */




























@media only screen and (max-width: 768px) {
    body{
        background: yellow;
    }
    .head-section{
        background: rgba(255, 144, 14, 0.10);
        padding: 15px 15px;
     }
    .row{
        flex-direction: column;
    }
    .head-section .container .manu ul{
        flex-direction: column;
    }
    .head-section .container img{
        width: 100%;
    }

    .section .container .feateres{
        width: 100%;
        flex-direction: column;
    }
    .section .container .feateres-text{
        margin: 0;
        padding: 0;
    }
    .section .container .feateres-text h1{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    }




  }






@media screen and (min-width:576px) and (max-width:960px) {
    
}

 

  